<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite/Development</title>
</head>
<body>
    <a href="/test_formular">Test Formular</a>
    <div>
        <select name="Formulare" id="forms">
            <option value="0">AnamneseBogen 1</option>
            <option value="1">AnamneseBogen 2</option>
            <option value="2">AnamneseBogen 3</option>
            <option value="3">AnamneseBogen 4</option>
        </select>
        <p>Patientin: <span>Mia Mustermann</span></p>
        <details>
            <summary>Persönliche Daten</summary>
            <p>Geburtsdatum: <span>01.01.2000</span></p>
            <p>telefon: <span>123456789</span></p>
            <p>Adresse: <span>Musterstraße 1</span></p>
        </details>
        <details open>
            <summary>Regelanamnese</summary>
            <p>Erste Regel: <span>15</span></p>
            <p>Letzte Regel: <span>vor 3 Wochen</span></p>
            <p>Regel: <span>regelmäßig</span></p>
        </details>
        <details open>
            <summary>Verhütung</summary>
            <p>Kondom: <span>2022 - 2025</span></p>
            <p>Spirale: <span>2020 - 2021</span></p>
        </details>
        <details open>
            <summary>Medizinische Details</summary>
            <p>Akute Beschwerden: <span>Nein</span></p>
            <p>Vorerkrankungen: <span>Nein</span></p>
            <p>Allgemeine Operationen: <span>Nein</span></p>
            <p>Gynäkologische Operationen: <span>Nein</span></p>
        </details>
        <details open>
            <summary>Geburten</summary>
            <p>Anzahl: <span>1</span>
                <p>Wann: <span>2020</span></p>
                <p>Komplikationen: <span>Nein</span></p>
            </p>
            <p>Fehlgeburten: Nein</p>
            <p>Kinderwunsch: <span>Nein</span></p>
            <p>Schwangerschaft: <span>Nein</span></p>
        </details>
        <details open>
            <summary>Medikamnte und Allergien</summary>
            <p>Medikamente: <span>Nein</span></p>
            <p>Allergien: <span>Nein</span></p>
        </details>
        <details open>
            <summary>Substanzen</summary>
            <p>Alkohol: <span>Nein</span></p>
            <p>Nikotin: <span>Nein</span></p>
            <p>Cannabis: <span>Nein</span></p>
            <p>Andere Drogen: <span>Nein</span></p>
        </details>
        <details open>
            <summary>Persönliches Anliegen</summary>
            <p>Ein Text</p>
        </details>
    </div>
</body>
</html>