<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial;
            padding: 40px;
        }

        h1 {
            margin-bottom: 30px;
        }

        .field {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>

    <h1>Patientendaten</h1>

    <div class="field">
        <strong>Vorname:</strong>
        {{ fname }}
    </div>

    <div class="field">
        <strong>Nachname:</strong>
        {{ name }}
    </div>
    <div class="field">
        <strong>Allergien: </strong>
        {{ allergies }}
    </div>

</body>
</html>