<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Test-Formular</title>

    <script src="/static/js/test_formular.js" defer></script>
</head>
<body>

    <form id="testform">
        <p>
            <label for="fname">Vorname:</label>
            <input type="text" id="fname", name="fname">
        </p>

        <p>
            <label for="name">Nachname:</label>
            <input type="text" id="name", name="name">
        </p>

        <button type="submit">Abschicken</button>
    </form>

</body>
</html>