<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Test-Formular</title>

    <script src="/static/js/test_formular.js" defer></script>
</head>
<body>

    <form id="testform">
        <p>
            <label for="fname">Vorname:</label>
            <input type="text" id="fname", name="fname">
        </p>

        <p>
            <label for="name">Nachname:</label>
            <input type="text" id="name", name="name">
        </p>

        <p>
            Reagieren Sie allergisch auf Stoffe oder Medikamente? <br>
            <label>
                <input type="radio" name="allergy" value="nein"  onclick="allergy_check()" checked>
                Nein
            </label>

            <label>
                <input type="radio" name="allergy" value="ja" onclick="allergy_check()">
                Ja
            </label>

            <div style="display: none;" id="allergy_div">
                <p>
                    <label for="allergy_details">Auf folgende Stoffe:</label>
                    <textarea name="allergy_details" id="allergy_details"></textarea>
                </p>
            </div>
        </p>

        <button type="submit">Abschicken</button>
    </form>

</body>
</html>